table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaaaaa;
    padding: 5px 7px 5px 7px;
}

th {
    background: #33CCFF;
    font-family: arial;
    font-size: 13px;
}

td {
/*     vertical-align: top; */
}

p {
	font-family: tahoma;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}

.status, .nazev, .okres {
    min-width: 180px;
}

.stav {
	min-width: 40px;
}


.radek2 {
    background: #f7f7ff;
}

.podpis {
	padding: 6px 0px 15px 30px;
}

#mapa {
	width: 800px;
	height: 600px;
}


