{% extends "base.html" %}

{% block tabulka %}

<table>
    <tr>
	<th>kód</th>
	<th>status</th>
	<th>název</th>
	<th>okres</th>
	<th>předmět ochrany</th>
	<th>odkazy</th>
	<th>nafoceno</th>
	<th>odkaz na mapy</th>
	<th>poznámky</th>
    </tr>
    
    {% for polozka in rezervace %}    
    <tr class="{% cycle 'radek1' 'radek2' %}">
	<td><p><a href="http://drusop.nature.cz/ost/chrobjekty/zchru/index.php?frame&SHOW_ONE=1&ID={{ polozka.kod }}">{{ polozka.kod }}</p></td>
	<td><p>{{ polozka.status.status }}</p></td>
	<td><p><strong>{{ polozka.nazev }}</strong> {{ polozka.celkovy_pocet_fotografii }}</p></td>
	<td>
	
	{% for okres in polozka.okres.all %}
	    <p>{{ okres }}</p>
	{% endfor %}
	
	</td>
	<td><p>{{ polozka.predmet }}</p></td>
	<td>
	    {%if polozka.wikipedia %}<p><a href="{{ polozka.wikipedia}}">wikipedia</a></p>{% endif %}
	    {%if polozka.commons %}<p><a href="{{ polozka.commons }}">commons</a></p>{% endif %}
	</td>
	<td class="nafoceno">

	    
	    {% for obdobi in polozka.fotografie_set.all %}
	    
	    <p class="{{ obdobi.barva }}">{{ obdobi.obdobi }}: {{ obdobi.pocet }}</p>
	    {% endfor %}
	
	</td>
	<td class="mapy">
	    <p><a href="http://mapy.cz/#x={{ polozka.stred.x|safe }}&amp;y={{ polozka.stred.y|safe }}&amp;z=14&amp;l=16">Turistická (seznam)</a></p>
	    <p><a href="http://mapy.cz/#x={{ polozka.stred.x|safe }}&amp;y={{ polozka.stred.y|safe }}&amp;z=14&amp;l=15">Letecká (seznam)</a></p>
	</td>
	<td>
	
	    {% for poznamka in polozka.poznamky_set.all %}
		<p>{{ poznamka.poznamka }}<br />
		{{ poznamka.uzivatel }} - {{ poznamka.datum }}</p>
	    {% endfor %}
	
	</td>
    </tr>    
    {% endfor %}
    
</table>

{% endblock %}