{% extends "base.html" %}

{% load filtrurl %}


{% block obsah %}
<h1>Rezervace - Tabulka</h1>


<table>
    <tr>
	<th><a href="{% url home %}{% filtrurl req=request get='kod' %}">kód</a></th>
	<th>status</th>
	<th><a href="{% url home %}{% filtrurl req=request get='nazev' %}">název</a></th>
	<th>okres</th>
	<th>předmět ochrany</th>
	<th>stav</th>
    </tr>
    
    {% for polozka in rezervace %}    
    <tr class="{% cycle 'radek1' 'radek2' %}">
	<td><p><a href="http://drusop.nature.cz/ost/chrobjekty/chrob_find/index.php?frame=1&amp;h_kod={{ polozka.kod }}">{{ polozka.kod }}</p></td>
	<td class="status"><p>{{ polozka.status.status }}</p></td>
	<td class="nazev"><p><a href="{% url profil polozka.slug %}"><strong>{{ polozka.nazev }}</a></strong></p></td>
	<td class="okres">
	
	{% for okres in polozka.okres.all %}
	    <p>{{ okres }}</p>
	{% endfor %}
	
	</td>
	<td class="predmet"><p>{{ polozka.predmet }}</p></td>
	<td class="stav" style="background: {{ polozka.barva }}"><p><strong>{{ polozka.stav }} %</strong></p></td>

    </tr>    
    {% endfor %}
    
</table>


<div id="strankovani">
<h2>Stránkování</h2>
<p>Stránka {{ rezervace.number }} z {{ rezervace.paginator.num_pages }}</p>
	{% if rezervace.has_previous %}
            <a href="{% filtrurl req=request get='stranka' param=rezervace.previous_page_number %}">předchozí</a>
        {% endif %}


        {% if rezervace.has_next %}
            <a href="{% filtrurl req=request get='stranka' param=rezervace.next_page_number %}">další</a>
        {% endif %}
    </span>
</div>

{% endblock %}



{% block filtr %}
<div id="filtr">
<h2>Filtr</h2>


<h3>Status</h3>
<a href="{% url home %}{% filtrurl req=request pryc='status' %}">{% nazev_odkazu_vse nazev='Vše' get=request.GET.status %}</a>
{% for status in statusy %}
	<a href="{% url home %}{% filtrurl req=request get='status' param=status.pk %}">{% nazev_odkazu nazev=status.status get=request.GET.status pk=status.pk %}</a>
{% endfor %}

<h3>Okres</h3>
<a href="{% url home %}{% filtrurl req=request pryc='okres' %}">{% nazev_odkazu_vse nazev='Vše' get=request.GET.okres %}</a>
{% for okres in okresy %}
	<a href="{% url home %}{% filtrurl req=request get='okres' param=okres.pk %}">{% nazev_odkazu nazev=okres get=request.GET.okres pk=okres.pk %}</a>
{% endfor %}

<p>Počet nalezených rezervací: <strong>{{ rezervace.paginator.count }}</strong></p>
<a href="{% url mapa %}{% mapaurl req=request %}">výsledek do mapy</a>
<a href="{% url body %}{% mapaurl req=request %}">výsledek do gpx</a>
</div>
{% endblock %}
