{% extends "base.html" %}

{% block obsah %}

<h1>Rezervace - Tabulka</h1>

<h2>Filtr</h2>
<h3>Okres</h3>
<a href="{% url home %}">Vše</a>
{% for okres in okresy %}
	<a href="{% url home %}?okres={{ okres.pk }}">{{ okres }}</a>
{% endfor %}

<h3>Status</h3>
<a href="{% url home %}">Vše</a>
{% for status in statusy %}
	<a href="{% url home %}?status={{ status.pk }}">{{ status }}</a>
{% endfor %}


<h2>Výsledky</h2>
<table>
    <tr>
	<th>kód</th>
	<th>status</th>
	<th>název</th>
	<th>okres</th>
	<th>předmět ochrany</th>
	<th>stav</th>
    </tr>
    
    {% for polozka in rezervace %}    
    <tr class="{% cycle 'radek1' 'radek2' %}">
	<td><p><a href="http://drusop.nature.cz/ost/chrobjekty/chrob_find/index.php?frame=1&amp;h_kod={{ polozka.kod }}">{{ polozka.kod }}</p></td>
	<td class="status"><p>{{ polozka.status.status }}</p></td>
	<td class="nazev"><p><a href="{% url profil polozka.slug %}"><strong>{{ polozka.nazev }}</a></strong></p></td>
	<td class="okres">
	
	{% for okres in polozka.okres.all %}
	    <p>{{ okres }}</p>
	{% endfor %}
	
	</td>
	<td><p>{{ polozka.predmet }}</p></td>
	<td class="stav" style="background: {{ polozka.barva }}"><p><strong>{{ polozka.stav }} %</strong></p></td>

    </tr>    
    {% endfor %}
    
</table>

{% endblock %}